<% if cocktail.photos.empty? %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path('cocktail_bg.jpeg') %>);">
<% else %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(
    <%= cl_image_path cocktail.photos[0].path, width: 300, height: 200, crop: :fill %>);">
<% end %>
  <div class="card-description">
    <h2><%= cocktail.name %></h2>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
